body {
  font-family: calibri, verdana; 
  color: purple; 
}

h1 {
    Color: blue; 
}

img {
  width: 200px; 
  position: center; 
  border: 3px solid teal; 
    /*
    I can type a comment here
    */
}
